
<div class="hero-unit">


<h1>Welcome to my new website</h1>

<p>
	My name is Raphael<br> Please add me on facebook <%= link_to ": Raphael Bendenoun", "https://www.facebook.com/r.bendenoun"%>
</p>
<br>
<p>
<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
</p>


</div>